%h2 All Elves

%table#elves
  %thead
    %tr
      %th ID
      %th Name
      %th Time Created
      %th Time Updated
      %th Last Task
      %th More Info
  %tbody
    - @elves.each do |e|
      %tr
        %td= e.id
        %td= e.name 
        %td= e.created_at.strftime("%l:%M%p %B %d, %Y")
        %td= e.updated_at.strftime("%l:%M%p %B %d, %Y")
        %td= "#{e.tasks.last.id}: #{e.tasks.last.name}"
        %td= link_to "More about #{e.name}", elf_path(e)
%br
= link_to 'Add new elf', new_elf_path
%br
= link_to 'Tasks index', tasks_path
