%h2 #{@task_type.name}

%ul#details
  %li
    Batch Size:
    = @task_type.batch_size

%h3 Tasks

%ul
  - @task_type.tasks.each do |t|
    %li
      = link_to "#{t.id}: #{t.task_type.name} on #{t.updated_at.strftime("%l:%M%p %B %d, %Y")}", task_path(t.id)
      %br

= link_to 'Edit', edit_task_type_path(@task_type)
%br
= button_to 'Delete', task_type_path(@task_type), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to task type index', task_types_path
