%h2 All Tasks

%table#tasks
  %thead
    %tr
      %th ID
      %th Name
      %th Quantity
      %th Notes
      %th Time Updated
      %th Status
      %th Elf
      %th Passed
      %th Failed
      %th Hours Spent Posted
      %th Hours Spent In Progress
      %th More Info
  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.id
        %td= task.task_type.name 
        %td= task.quantity
        %td= task.notes
        %td= task.updated_at.strftime("%l:%M%p %B %d, %Y")
        %td= task.status
        %td= task.elf.name
        %td= task.passed
        %td= task.failed
        %td= task.hours_posted.round(4) unless task.hours_posted.nil?
        %td= task.hours_in_progress.round(4) unless task.hours_in_progress.nil?
        %td= link_to "More about #{task.task_type.name}", task_path(task)
%br
= link_to 'Add New Task', new_task_path
%br
= link_to 'Select Task', select_index_tasks_path
%br
= link_to 'Complete Task', complete_index_tasks_path
%br
%br
= link_to 'Elves', elves_path
%br
= link_to 'Task Types', task_types_path
%br
= link_to 'Build Reports', build_reports_path
