%h2 Create New Task

= form_tag tasks_path, :method => :post do

  = label :task, :task_type, 'Task Type'
  = select :task, :task_type, @tasktypes

  = label :task, :quantity, 'Quantity'
  = text_field :task, :quantity
 
  = label :task, :notes, 'Notes'
  = text_field :task, :notes
  %br
  %br
  = submit_tag 'Submit'
