%h2 All Build Reports

%table#build_reports
  %thead
    %tr
      %th ID
      %th Title
      %th Start
      %th End
      %th Altered?
      %th More Info
  %tbody
    - @reports.each do |r|
      %tr
        %td= r.id
        %td= r.title
        %td= r.start.strftime("%l:%M%p %B %d, %Y")
        %td= r.end.strftime("%l:%M%p %B %d, %Y")
        %td= '[Non-functional]'
        %td= link_to "More about #{r.title}", build_report_path(r)
%br
= link_to 'Request new build report', new_build_report_path
%br
%br
= link_to 'Tasks', tasks_path
