%h2 #{@report.title}

%ul#details
  %li
    Start:
    = @report.start.strftime("%l:%M%p %B %d, %Y")
  %li
    End:
    = @report.end.strftime("%l:%M%p %B %d, %Y")
  %li
    Created:
    = @report.created_at.strftime("%l:%M%p %B %d, %Y")
  %li
    Updated:
    = @report.updated_at.strftime("%l:%M%p %B %d, %Y")
  - @type_names.each do |t|
    - p = @report["#{t}_passed"]
    - f = @report["#{t}_failed"]
    %h4= "#{t.titleize}"
    %ul
      %li
        Passed:
        - if p 
          = p
      %li
        Failed:
        - if f 
          = f
      %li
        Percent Yield:
        - if p && f
          = "#{((p.to_f / (p + f).to_f) * 100).round(2)} %"
      %li
        Total Hours in Progress:
        = @report["#{t}_hours"].round 4
  %br
  %li
    Total Cubes Built:
    = @total_built
  %li
    Total Percent Yield:
    = "#{((@total_passed / (@total_passed + @total_failed))*100).round(2)} %"
  %li
    Total Hours in Progress:
    = @total_hours.round 4
  %li
    Efficiency (Hours logged / Hours paid): 
        
%br
= link_to 'Back to build report list', build_reports_path
