%h2 #{@report.title}

%ul#details
  %li
    Start:
    = @report.start.strftime("%l:%M%p %B %d, %Y")
  %li
    End:
    = @report.end.strftime("%l:%M%p %B %d, %Y")
  %li
    Created:
    = @report.created_at.strftime("%l:%M%p %B %d, %Y")
  %li
    Updated:
    = @report.updated_at.strftime("%l:%M%p %B %d, %Y")
  - @type_names.each do |t|
    %h4= "#{t.titleize}"
    %ul
      %li
        Passed: 
        = @typelist[t][:p]
      %li
        Failed:
        = @typelist[t][:f]
      %li
        Percent Yield:
        = @typelist[t][:pyield]
      %li
        Total Hours in Progress:
        = @typelist[t][:hours].round 4
  %br
  %li
    Total Cubes Built:
    = @typelist[:total_built]
  %li
    Total Percent Yield:
    = @typelist[:total_percent_yield]
  %li
    Total Hours in Progress:
    = @typelist[:total_hours].round 4
  %li
    Efficiency (Hours logged / Hours paid): 
        
= link_to 'Export to Google Docs', export_build_report_path(@report), :method => :post
%br
%br
= link_to 'Back to build report list', build_reports_path
